@import './base.css';


#app {
  font-family: 'Galindo', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/*/ BUTTONS /*/
button{
  border-radius: 15px;
  color: black;
  font-size: 2rem;
  font-family: 'Galindo';
  cursor:pointer;
  margin-top: 1rem;
  border:none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}



button:hover{
  color:white
}

.green-button{
  background-color: #4caf50;
}

.blue-button{
  background-color: rgb(65, 105, 225);

}

.pink-button{
  background-color: hotpink;
}


.invalid{
  color:red;
  margin-top:1rem;
}


/*/ INPUT /*/

input{
  font-size: 2rem;
  font-family: 'Galindo';
  border-radius: 10px;
  border: 2px solid rgb(65, 105, 225);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
  margin-left:2rem;
  transform: scale(2.5); /* Chat användes för att göra knappen större */

}

input[type="checkbox"]:checked {
  accent-color:hotpink; 
}

/*/ ÖVRIGT /*/


  


